#logo 
	img(src="/imgs/logo.png")#logoIcon
	span #{bag.marble_company}


#whoAmI
	span.fa.fa-flask#userIcon
	span#userField 관리자
	span &nbsp;
	span.fa.fa-angle-down#carrot
	

	#userSelect
		#triangle
		a(href="/logout").userLine 로그아웃
